services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "1000:1000"
    ports:
      - "8096:8096"  # host:container
    volumes:
      - ./jellyfin:/config
      - ./.cache/jellyfin:/cache
      - /home/richard/Videos:/media
    restart: unless-stopped
