version: "3.9"
services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    labels:
      glance.name: Tailscale
      glance.icon: si:tailscale
      glance.description: VPN
      glance.url: https://login.tailscale.com/admin/machines
    hostname: jellyfin-server
    network_mode: "host"   # required so tailscale gives your *host* a tailnet IP
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    volumes:
      - ${DATA}/tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    command: tailscaled
    restart: unless-stopped