services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    labels:
      glance.name: Jellyfin
      glance.icon: si:jellyfin
      glance.description: Films & Shows
      glance.category: Media
      glance.url: http://${URL}:8096
    user: "1000:1000"
    ports:
      - "8096:8096"  # host:container
    volumes:
      - ${DATA}/jellyfin/config:/config
      - ${DATA}/jellyfin/cache:/cache
      - ${FILMS}:/films
      - ${MUSIC}:/music
      - ${SHOWS}:/shows
    restart: unless-stopped
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    group_add:
      - ${RENDER_GID}

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    labels:
      glance.name: Audiobookshelf
      glance.icon: si:audiobookshelf
      glance.description: Audiobooks & eBooks
      glance.category: Media
      glance.url: http://${URL}:13378
    ports:
      - 13378:80
    volumes:
      - ${AUDIOBOOKS}:/audiobooks
      - ${DATA}/audiobookshelf/config:/config
      - ${DATA}/audiobookshelf/metadata:/metadata
    restart: unless-stopped
