version: "3.9"
services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    labels:
      glance.name: Tailscale
      glance.icon: si:tailscale
      glance.description: VPN
      glance.category: System
      glance.url: https://login.tailscale.com/admin/machines
    hostname: barry
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--advertise-tags=tag:server  # Optional: for ACLs
      - TS_SERVE_CONFIG=/config/serve.json
    volumes:
      - ${DATA}/tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
      - ./serve.json:/config/serve.json
    # The official image's entrypoint handles login if TS_AUTHKEY is present
    restart: unless-stopped
    
  samba:
    image: ghcr.io/servercontainers/samba:smbd-wsdd2-latest
    container_name: samba
    labels:
      glance.name: Samba
      glance.icon: si:protondrive
      glance.description: Network Storage
      glance.category: Productivity
      glance.url: smb://${URL}/Media
    network_mode: host
    environment:
      SAMBA_GLOBAL_CONFIG_workgroup: WORKGROUP
      ACCOUNT_richard: ${SAMBA_PASSWORD}
      UID_richard: ${PUID}
      GROUPS_richard: ${PGID}

      ACCOUNT_person: ${SAMBA_PASSWORD}
      UID_person: ${PUID}
      GROUPS_person: ${PGID}

      SAMBA_VOLUME_CONFIG_media: >
        [Media];
        path=/shares/media;
        guest ok = no;
        read only = no;
        browseable = yes;
        writable = yes;
        force user = richard;
        valid users = richard, person
    volumes:
      - ${MEDIA}:/shares/media
    restart: unless-stopped
