services:
  glance:
    container_name: glance
    image: glanceapp/glance
    labels:
      glance.name: Glance
      glance.icon: si:homepage
      glance.description: Homepage
      glance.url: http://${URL}:8080
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      # Optionally, also mount docker socket if you want to use the docker containers widget
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8080:8080